

body {
    background-color: black;
}


#paragrafo_1 {
    color: white;
    text-align: center;
}

#Capitulo {
    text-align: center;
    color: white;
}

.butoes {
    font-size: 10px;
    text-align: right;
    margin-right: 50px;
}

#butao_1 {
    border: none;
    background: none;
    color: white;
    margin-right: 50px;
}

#butao_1:hover {
    text-decoration: underline;
}

#butao_1:active {
   transform: translate(-4px, 4px);
}

#butao_2 {
    border: none;
    background: none;
    color: white;
    margin-right: 50px;
}

#butao_2:hover {
    text-decoration: underline;
}

#butao_2:active {
   transform: translate(-4px, 4px);
}

#butao_3 {
    border: none;
    background: none;
    color: white;
    margin-right: 50px;
}

#butao_3:hover {
    text-decoration: underline;
}

#butao_3:active {
   transform: translate(-4px, 4px);
}

#butao_4 {
    border: none;
    background: none;
    color: white;
}

#butao_4:hover {
    text-decoration: underline;
}

#butao_4:active {
   transform: translate(-4px, 4px);
}

#butao_5 {
    border: none;
    background: none;
    color: white;
}

#butao_5:hover {
    text-decoration: underline;
}

#butao_5:active {
   transform: translate(-4px, 4px);
}