body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.barra_navegacao {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra_navegacao ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.barra_navegacao ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.barra_navegacao ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: rgba(164, 22, 26, 1);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.barra_navegacao ul li:hover::after {
  width: 100%;
}

.footer {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p {
  margin-right: 850px;
  color: white;
}

.footer ul li {
  list-style: none;
  display: inline;
  list-style: none;
  align-items: center;
  margin: 0 20px;
}

.footer ul li img {
  width: 8%;
}

#copyright {
  color: white;
}

.ative {
  font-weight: bold;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacte-nos {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

.contacte-nos h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.contacte-nos form {
  display: flex;
  flex-direction: column;
}

.contacte-nos label {
  color: white;
  margin-bottom: 10px;
}

.contacte-nos textarea {
  resize: none;
}

.contacte-nos input,
.contacte-nos textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contacte-nos input[type="submit"] {
  background-color: rgba(164, 22, 26, 1);
  color: white;
  cursor: pointer;
}

.contacte-nos input[type="submit"]:hover {
  background-color: rgba(164, 22, 26, 0.8);
}
