body {
  background-color: black;
  font-family: "Segoe UI", sans-serif;
}

.logo {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.barra_navegacao {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra_navegacao ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.barra_navegacao ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.barra_navegacao ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: rgba(164, 22, 26, 1);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.barra_navegacao ul li:hover::after {
  width: 100%;
}

.footer {
  margin-left: 200px;
  margin-top: 130px;
  color: white;
}

.ative {
  font-weight: bold;
}

.faq-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.separador {
  width: 60%;
  margin: auto;
  color: white;
}

.faq-header {
  color: white;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}

.faq-paragrafo {
  margin: auto;
  width: 50%;
  padding: auto;
}

.active,
.faq-header:hover {
  background-color: rgba(164, 22, 26, 1);
}

.faq-paragrafo {
  padding: 0 18px;
  background: none;
  display: none;
  overflow: hidden;
  color: white;
}

.faq-header:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
