body {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.barra_navegacao {
  width: 80%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barra_navegacao ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.barra_navegacao ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.barra_navegacao ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: rgba(164, 22, 26, 1);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.barra_navegacao ul li:hover::after {
  width: 100%;
}

#paragrafo_1 {
  color: white;
  text-align: center;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Informacao {
  color: white;
  text-align: center;
  margin-right: 100px;
}

.gif {
  width: 20%;
  height: 20%;
}

.footer {
  margin-left: 200px;
  margin-top: 150px;
  color: white;
}

.ative {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info p {
  margin-left: -200px;
}

#participar {
  margin-top: 20px;
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

#texto_butao {
  position: relative;
  z-index: 2;
  color: white;
  text-transform: uppercase;
}

#participar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(164, 22, 26, 1);
  transition: left 1s ease-in-out;
  z-index: 1;
}

#participar:hover::before {
  left: 0;
}
